.footer{
    display: flex;
    flex-direction: column;
    gap: 60px;
    background-color: var(--static-white);
    padding: 60px 82px;
}

.block-contacts{
    display: flex;
    gap: 12px;
}

.contact-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
} 

.img-contacts{
    width: 80px;
    height: 76px;
}

.black{
    color: var(--dark);
}

.block-messengers{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.messengers{
    display: flex;
    gap: 12px;
}

.card-contact{
    border-radius: 20px;
    background: var(--content-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 20px 0;
    flex: 1;
}
.messengers > img{
    cursor: pointer;
}

.messengers > img:hover{
    color: var(--primary);
}

.caption > a:hover{
    color: var(--primary);
}

.a-footer:hover{
    color: var(--primary);
}

@media (max-width: 768px){
    .block-contacts{
        flex-direction: column;
    }
}