.gits {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gift-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.gift-bar .active{
    color: var(--static-white);
    background-color: var(--static-white-20);
}

.item-gift-bar {
    border-radius: 12px;
    padding: 12px 20px;

}

.active {
    background: var(--static-white-20);
}

.card-list {
    display: flex;
    flex-wrap: wrap;
}

@media (hover: hover) and (pointer: fine){
    .gift-bar>div:hover {
        background-color: var(--static-white-20);
        color: var(--static-white);
    }

}


.gits > div > h1 {
    padding: 60px 0 0 0;
}

.bg-garland{
    background: url(../assets/bg/bg-garland.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}

.active{
    color: var(--primary);
    background-color: var(--primary-10);
}

@media (max-width: 768px) {
    

    
}

@media (max-width: 380px) {


    .gift-bar {
        padding: 0;
        gap: 0;
    }

    .item-gift-bar {
        padding: 12px 8px;
    }

    .bg-garland .h1{
        padding: 60px 5px 0 5px;
    }
    
    .card-contact{
        padding: 22px 0;
    }
}