.hero-section {
    position: relative;
    height: 100%;
    padding: 60px 0;
    background: url(../assets/bg/bg-ball.png) no-repeat center top;
    background-size: 1440px auto;
    background-position: center -33px;
}

.hero-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    padding: 60px 0;
}

.hero-button {
    background-color: var(--dark);
    padding: 20px 32px;
    border-radius: 20px;
    color: var(--static-white);
    cursor: pointer;
}



.hero-content .caption {
    color: var(--static-white);
}

@media (max-width: 768px) {}

@media (max-width: 380px) {
    .hero-section {
        padding: 57px 0;
    }
}

@media (hover: hover) and (pointer: fine) {
    .hero-button:hover {
        background-color: var(--static-white);
        color: var(--dark);
    }
}