.section-cta {
    background: url("../assets/bg/bg-forest.png") center / 100% 100% no-repeat;
    overflow: hidden;
    padding: 10px 0 0 5px;
    border-radius: 20px;
}

.cta-content {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    padding: 180px 0;
}

.block-timer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.block-timer .caption {
    color: var(--static-white);
}

.hero-button {
    margin-bottom: 7px;
}

.timer {
    display: flex;
    border-radius: 20px;
    padding: 8px 12px 12px;
    width: 344px;
    height: 72px;
    background: var(--static-white-40);
    align-items: center;
}

.timer-item {
    width: 80px;
}

.timer-label {
    color: var(--static-white);
}

.timer-line {
    width: 1px;
    height: 20px;
    background: var(--static-white-40);
    margin: 0 8px;
}


@media (max-width: 768px) {
    .section-cta {
        background-size: 1440px auto;
        background-position: -336px bottom;
    }

}

@media (max-width: 380px) {
    .section-cta {
        background-size: 1440px auto;
        background-position: bottom;
    }

    .cta-content {
        gap: 17px;
    }

    .cta-content {
        padding: 166px 0;
    }

    .hero-button {
        margin-bottom: 0;
    }

}