.slider-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 68px 83px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.title>div {
    color: var(--static-white);
}

.block-slider {
    display: flex;
    gap: 20px;
    align-items: center;
}

.img-slider {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    object-fit: cover;
    overflow: hidden;
}

.arrow {
    display: flex;
    gap: 20px;
    justify-content: end;
}

.arrow img {
    cursor: pointer;
}



@media (max-width: 768px) {
    .arrow {
        padding-right: 8px;
    }

    .slider-section{
        padding: 68px 0;
    }

    .block-slider{
        padding-left: 8px;
    }
}

@media (max-width: 380px){
    .block-slider{
        padding-left:10px; 
    }

    .slider-section{
        padding: 56px 0;
    }
}