.slider-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.title > div{
    color: var(--static-white);
}

.block-slider{
    display: flex;
    gap: 20px;
    align-items: center;
}

.img-slider{
    border-radius: 20px;
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    object-fit: cover;
    overflow: hidden;
}

.arrow{
    display: flex;
    gap: 20px;
    justify-content: end;
}

.arrow img{
    cursor: pointer;
}