:root {
    /*color*/
    --color-primary: #FF4646 ;
    --color-secondary: #FFFFFF ;
    --tag-purple: #4361FF;
    --dark: #181C29;


    
    /*fonts*/
    --font-family: "Montserrat", sans-serif;
    --second-family: "", sans-serif;

}